## Code examples of Lists

In [ ]:
x = 2
x = 4
print(x)

In [ ]:
print([1, 24, 87])
print(['red', 'yellow', 'blue'])
print(['red', 522, 98.6])
print([1, [5, 6], 7])
print([])

In [ ]:
friends = ['Tony', 'Peter', 'Natasha']
print(friends[1])

In [ ]:
fruit = 'Banana'
fruit[0] = 'b'

In [ ]:
x = fruit.lower()
print(x)
lotto = [2, 14, 26, 41, 63]
print(lotto)
lotto[2] = 28
print(lotto)

In [ ]:
greet = 'Hello Tony'
print(len(greet))
x = [1, 2, 'red', 99]
print(len(x))

In [ ]:
for i in range(4):
    print(i)

In [ ]:
friends = ['Tony', 'Peter', 'Natasha']
for i in range(len(friends)):
    friend = friends[i]
    print('Happy New Year:', friend)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)
print(b)

In [ ]:
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

In [ ]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

In [ ]:
t = [9, 41, 12, 3, 74, 15]
print(12 in t)
print(20 in t)
print(20 not in t)

In [ ]:
friends = ['Tony', 'Peter', 'Natasha']
friends.sort()
print(friends)
print(friends[0])

In [ ]:
nums = [9, 41, 12, 3, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

In [ ]:
abc = 'with three words'
stuff = abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

In [ ]:
for w in stuff:
    print(w)

In [ ]:
line = 'a lot         of spaces'
etc = line.split()
print(etc)

In [ ]:
line = 'first;second;third'
thing = line.split()
print(thing)
print(len(thing))

In [ ]:
thing = line.split(';')
print(thing)

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
words = data.split()
print(words)
email = words[1]
pieces = email.split('@')
print(pieces)

## Code examples of Dictionaries

In [ ]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)
print(purse['candy'])
purse['candy'] = purse['candy']+2
print(purse)

In [ ]:
len(purse)

In [ ]:
jjj = {'chuck': 1, 'fred': 42, 'jan': 100}
print(jjj)
ooo = { }
print(ooo)

In [ ]:
jjj['freb'] = 1
jjj

## Code examples of Tuples

In [ ]:
x = ('Tony', 'Peter', 'Natasha')
print(x[2])
y = (1, 8, 2)
print(max(y))

In [ ]:
l = list()
print(dir(l))

In [ ]:
(x, y) = (4, 'fred')
print(y)
(a, b) = (99, 98)
print(a)

In [ ]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
for (k, v) in purse.items():
    print(k, v)

In [ ]:
(0, 1, 2) < (5, 1, 2)

In [ ]:
(0, 1, 200000) < (0, 3, 4)

In [ ]:
('Jones', 'Sally') < ('Jones', 'Sam')

In [ ]:
('Jones', 'Sally') > ('Adams', 'Sam')

## Code examples of Sets

In [ ]:
# Unordered collection of *unique* values; which are mutable and unordered 
set1 = {'crunchy frog', 'ram bladder', 'lark vomit','harry potter', 'sun wu kong'}
set1

In [ ]:
# cannot use index to reach element of sets
set1[0]

In [ ]:
# remove by value
set1.remove('harry potter')
set1

In [ ]:
# add by value
set2 = set([1,2,3,3,3,4])
print(set2) 
print("The length of the set is ", len(set2))

set2.add("B")
print(set2)

In [ ]:
# common methods for sets: intersection, union, difference 

a_set = {1,2,3,4}
b_set = {3,4,5,6}

intersect_set = set.intersection(a_set, b_set) 
print("The intersection of a and b is ", intersect_set)

union_set = set.union(a_set, b_set) 
print("The union of a and b is ", union_set)

# pay attention to the order 
difference_set = a_set.difference(b_set) 
print("Set a is different from set b by ", difference_set)
difference_set2 = b_set.difference(a_set)
print("Set b is different from set a by ", difference_set2)